body{
    background-color: rgb(168, 249, 183);
    font-family: Arial, Times New Roman, sans-serif;
}
a{
    text-decoration: none;
}
#container{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

/***** header *****/

#header{
    padding: 10px;
}
#header ul{
    border: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
#header li{
    float: left;
}
#header li a{
    background-color: rgb(0, 206, 255);
    border-style: groove;
    display: block;
    padding: 10px;
    text-align: center;
}
#header li a:hover{
    background-color: seagreen;
    color: black;
}
#header .selected{
    font-weight: bold;
}

#content{
    padding: 20px;
}

/***** main content ******/

#main{
    float:left;
    width: 840px;
}
#main select, option, input{
    background-color: aqua;
}
#main input:focus{
    background-color: seagreen;
}
#main button{
    background-color: aqua;
    border-radius: 12px;
    color: black;
    padding: 10px 24px;
}
#main button:hover{
    background-color: seagreen;
    color: black;
}

/**** footer*****/

#footer{
    clear: both;
    padding: 10px;
    text-align:right;
}